<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Send me Name !</h1>




    <form method="post" action="/">
        <input name="name" placeholder="Enter your name!" />
        <button type="submit">Send name</button>
    </form>


    <hr>


    <div>
        <a href="/about">Go to About page</a><br>

    </div>


    <h1>In there you can find Useful thing</h1>

    <div>

        <a href="/contact">Go to Contact page</a>

    </div>






    
</body>
</html> 
